Beata Sirowy
# __Data structures__
Based on McKinley, W. (2022) _Python for Data Analysis_

## Tuples

In [ ]:
tup = 3, 5, 7
print(tup)
print(tup[2])

(3, 5, 7)
7

Converting a sequence to a tuple:

In [16]:
n = [5, 78, 56]
y = tuple(n)
print(y)

(5, 78, 56)

In [ ]:
n = "Hello"
tuple(n)

('H', 'e', 'l', 'l', 'o')

In [20]:
tuple("Hello")[1]

'e'

A nested tuple:

In [21]:
x = (4,5,6), (7,8,9)
x

((4, 5, 6), (7, 8, 9))

In [22]:
x[1]

(7, 8, 9)

If an object inside a tuple is mutable, such as a list, you can modify it

In [31]:
tup1 = 2, [4, 6], 8
tup1[1].append(7)
tup1

(2, [4, 6, 7], 8)

You can concatenate tuples using the + operator, and multiply using *

In [32]:
("bim", "bom")*5

('bim', 'bom', 'bim', 'bom', 'bim', 'bom', 'bim', 'bom', 'bim', 'bom')

In [35]:
("bim", "bom") + (1, 3, 5) + (2, [4, 6, 3])

('bim', 'bom', 1, 3, 5, 2, [4, 6, 3])

Unpacking an expression / swaping variable names:

In [5]:
tup = 1,2,3
a,b,c = tup
b

2

In [7]:
a,b = 1,3
print(b)
b,a = a,b
print(b)

3
1

Iterating over sequences of tuples or lists:

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for x, y, z in seq:
    print(f'x={x}, y={y}, z={z}')

x=1, y=2, z=3
x=4, y=5, z=6
x=7, y=8, z=9

### *
"*" (e.g. *_ or *rest) can be used to "pluck" a few elements from the beginning of a tuple, it is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [10]:
n = 1,2,3,4,5,6
a, b, *_ = n
_

[3, 4, 5, 6]

Very few methods fpr tuples exist. A useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [11]:
 a = (1, 2, 2, 2, 3, 4, 2)
 a.count(2)

4