Beata Sirowy

# __Python demo: <br> multi way decisions, loops, functions, string operations__

## Lift converter

In [20]:
x = input("Write the European floor number you wish to go: \n")
y = int(x) + 1
print("European floor number:", x, "\nYour floor in USA would be:", y)

European floor number: 6
Your floor in USA would be: 7

## One way decisions with IF ELSE

In [16]:
x = input("Whats your name? \n")
print("Welcome,", x, "nice to meet you!")
x = input("How old are you? \n")
if int(x) < 20:
    print("Awesome,", x, "years old is so young!")
else:
    print("Great,", x, "years old is an age of wisdom!")

Whats your name?
 John

Welcome, John nice to meet you!

How old are you?
 12

Awesome, 12 years old is so young!

## ELIF structure (multi way decisions)

Runs in sequence; exits the block once it finds TRUE value (doesn't check the following conditions).

### example 1

In [21]:
x = int(input("Give me a number"))
if x < 5:
    print("It's small")
elif x > 20:
    print("It's big")
    if x > 25:
        print("More than I expected")
else:
    print("It's medium")

Give me a number 21

It's big

### example 2

In [26]:
x = int(input("Give me a number"))
if x < 5:
    print("It's small")
elif x < 20:
    print("It's medium")
elif x < 20:
    print("It's big")
else:
    print("It's huge")
print("Thank you and goodbye")

Give me a number 44

It's huge
Thank you and goodbye

## TRY / EXCEPT structure - eliminates a traceback / catches errors

If the code in TRY works, EXCEPT is skipped. <br>
If TRY fails, runs to EXCEPT.

### example 1

In [43]:
x = input("Give me a number")
try:
    x = int(x)
    print(x, "is my favourite number")
except:
    print("It's not a number my friend")

Give me a number trfduti

It's not a number my friend

### example 2

In [24]:
x = input("What's your name? \n")
print("Welcome,", x, "nice to meet you! \n")
x = input("How old are you?")
try:
    if int(x) < 20:
        print("Nice,", x, "years old is so young!")
    if int(x) > 20:
        print("Great,", x, "years old is an age of wisdom!")
except:
    print("It's not a number my friend!")

What's your name?
 rop

Welcome, rop nice to meet you!

How old are you? ff

It's not a number my friend

In [27]:
x = input("How old are you? \n")
try:
    x = int(x)
    if x < 20:
        print("Nice,", x, "years old is so young!")
    if x > 20:
        print("Great,", x, "years old is an age of wisdom!")
except:
    print("It's not a number my friend!")

How old are you?
 12

Nice, 12 years old is so young!

## Functions

Purpose: store and reuse. <br>
DRY: don't repeat yourself

In [30]:
def greet(language):
    if language == "es":
        print("Hola")
    elif language == "fr":
        print("Bonjour")
    else:
        print("Hi")

In [31]:
greet("fr")

Bonjour

In [4]:
word = input("give me a word \n")
g = max(word)
print(g)

give me a word
 fdfuhf

u

In [49]:
def x(word):
    big = max(word)
    print("The biggest letter in this word is: " + big)

In [51]:
word = input("Choose a word \n")
x(word)

Choose a word
 Cat

The biggest letter in this word is: t

### Multiple parameters/ arguments

In [9]:
def add(a, b):
    adding = a + b
    return adding

In [12]:
x = add(5, 7)
print(x)

12

## Loops and iteration

In [4]:
n = 10
while n > 0:
    print(n)
    n = n - 1
print("Bye it is the end")
print(n)

10
9
8
7
6
5
4
3
2
1
Bye it is the end
0

In [4]:
n = 5
while n > 0:
    print("Lather")
    print("Rinse")
    n = n - 1
print("Day off!")

Lather
Rinse
Lather
Rinse
Lather
Rinse
Lather
Rinse
Lather
Rinse
Day off!

### Breaking out of a loop

In [52]:
while True:
    line = input("Say something \n")
    if line == "done":
        break
    print(line)
print("I'm done too!")

Say something
 Hi

Hi

Say something
 done

I'm done too!

### Finishing an iteration with CONTINUE

CONTINUE ends the current iteration and jumps to the top of the loop.

In [53]:
while True:
    line = input("Say something \n")
    if line[0] == "#":
        continue
    if line == "done":
        break
    print(line + "!")
print("I'm done too!")

Say something
 Hi

Hi!

Say something
 #big
Say something
 done

I'm done too!

## Definite loops

The iteration variable "iterates" through the sequence (ordered set). <br>
The block (body) of code is executed once with each iteration.

In [14]:
for i in [5, 4, 3, 2, 1]:
    print(i * 5)
print("The End")

25
20
15
10
5
The End

In [11]:
for i in range(1, 6):
    print(i)
print("Blastoff!!!")

1
2
3
4
5
Blastoff!!!

### A definite loop with strings

In [16]:
friends = ["Damian", "Mat", "Kon"]
for x in friends:
    print("Happy New Year", x + "!")
print("Done!")

Happy New Year Damian!
Happy New Year Mat!
Happy New Year Kon!
Done!

### Finding the largest value

In [28]:
largest_so_far = -1
print("Before the loop: let's begin with", largest_so_far)
for x in [9, 56, 97, 45, 15, 99, 27]:
    if x > largest_so_far:
        largest_so_far=x
    print(largest_so_far, x)
print("After the loop: the largest number in the set is", largest_so_far)

Before the loop: let's begin with -1
9 9
56 56
97 97
97 45
97 15
99 99
99 27
After the loop: the largest number in the set is 99

### Counting in a loop

To count in the loop we introduce a __counter variable__ that starts at 0 and we add one to it each time through the loop.

In [34]:
n = 0
print("Before the loop", n)
for x in [9, 56, 97, 45, 15, 99, 27]:
    n = n +1
    print(n, x)
print("After the loop: the COUNT is", n)

Before the loop 0
1 9
2 56
3 97
4 45
5 15
6 99
7 27
After the loop: the sum is 7

### Summing in a loop

In [36]:
n = 0
print("Before the loop", n)
for x in [9, 56, 97, 45, 15, 99, 27]:
    n = n + x
    print(x, n)
print("After the loop: the SUM is", n)

Before the loop 0
9 9
56 65
97 162
45 207
15 222
99 321
27 348
After the loop: the SUM is 348

### Finding an average in the loop

In [41]:
count = 0
sum_ = 0
print("Before the loop", count, sum_)
for x in [9, 56, 97, 45, 15, 99, 27]:
    count = count + 1
    sum_ = sum_ + x
    print(count, sum_, x)
print("After the loop: COUNT, SUM and AVERAGE are:", count, sum_, sum_/count)

Before the loop 0 0
1 9 9
2 65 56
3 162 97
4 207 45
5 222 15
6 321 99
7 348 27
After the loop: COUNT, SUM and AVERAGE are: 7 348 49.714285714285715

### Filtering in a loop

We use an IF statement in the loop to catch / filter the values we are lookig for (e.g. searching for large numbers in a list of numbers).

In [43]:
print("Before the loop: the following numbers in the set are larger than 20:")
for x in [9, 56, 97, 45, 15, 99, 27]:
    if x > 20:
        print("Large number:", x)
print("After the loop")

Before the loop: the following numbers in the set are larger than 20:
Large number: 56
Large number: 97
Large number: 45
Large number: 99
Large number: 27
After the loop

### Search using a Boolean variable

If we just want to know if the value was found, we use a variable that starts at FALSE and is set to TRUE as soon as we find what we are looking for.

found = False
print("Before the loop: finding a value:", found)
for x in [9, 56, 97, 45, 15, 99, 27]:
    if x == 15:
        found = True
    print(found, x)
print("After the loop: the value was found:", found)

### Finding the smallest value

In [55]:
smallest_so_far = 100000
print("Before the loop: let's begin with", smallest_so_far)
for x in [9, 56, 97, 45, 15, 99, 2, 27]:
    if x < smallest_so_far:
        smallest_so_far=x
    print(smallest_so_far, x)
print("After the loop: the smallest number in the set is", smallest_so_far)

Before the loop: let's begin with 100000
9 9
9 56
9 97
9 45
9 15
9 99
2 2
2 27
After the loop: the smallest number in the set is 2

__NONE type variable__ should be used in this loop instead of a random large number at the beginning as a __flag value__- to make sure our loop works correctly with any sets of numbers, no matter how small. <br>
<br>
IS / IS NOT operators can be used with logical expressions. IS implies "the same as", is similar to but stronger than ==

In [57]:
smallest_so_far = None
print("Before the loop: let's begin with", smallest_so_far)
for x in [9, 56, 97, 45, 15, 99, 2, 27]:
    if smallest_so_far is None:
        smallest_so_far=x
    elif x < smallest_so_far:
        smallest_so_far=x
    print(smallest_so_far, x)
print("After the loop: the smallest number in the set is", smallest_so_far)

Before the loop: let's begin with None
9 9
9 56
9 97
9 45
9 15
9 99
2 2
2 27
After the loop: the smallest number in the set is 2

## Strings

Strings have indexable data within.

Using a "while" statement, an iteration variable, and the len functions we can construct a loop to look at each letter in a string individually.

In [71]:
x = 'banana'
index = 0
while index < len(x):
    letter = x[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

A definite loop using "for" statement is more convenient - the iteration variable is taken care of by the loop

In [70]:
x = 'banana'
for y in x:
    print(y)

b
a
n
a
n
a

### Looping and counting

Counting letters "a"

In [86]:
x = "banana"
count = 0
for y in x:
    if y == "a":
        count = count + 1
print(count)

3

## Slicing strings

The first number is included, the second is "up to but not including". If the second number is beyond the string, it stops at the end.

In [76]:
x = 'Apples and bananas'
print(x[0:3])

App

In [80]:
print(x[7:8])

a

In [81]:
print(x[7:20])

and bananas

In [83]:
print(x[:2])

Ap

In [84]:
print(x[8:])

nd bananas

In [85]:
print(x[:])

Apples and bananas

### String Concatenation

In [88]:
a = "Hi"
b = " "
c = "There"
print(a + b + c)

Hi There

## Using "in" as a logical operator

In [90]:
x = 'banana'
'n' in x

True

In [93]:
if 'a' in x:
    print('I found it!')

I found it!

## String functions

In [95]:
x = 'Hello Bob'
y = x.lower()
print(y)

hello bob

In [98]:
print('Hello Bob'.upper())

HELLO BOB

In [97]:
len('Hello Bob')

9

In [100]:
type('Hello Bob')

str

The following command lists all in-built string methods/functions

In [101]:
dir('Hello Bob')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### String library - examples

In [104]:
str.capitalize('hello bob')

'Hello bob'

In [105]:
str.lower('Hello Bob')

'hello bob'

In [106]:
str.upper('Hello Bob')

'HELLO BOB'

__find()__ function - searches for a substring within a string, finds it's first occurrence and indicates where it starts (position number), if the string is not found - returns -1; string positions start at 0.

In [108]:
x = 'banana'
pos = x.find('na')
print(pos)

2

In [109]:
pos = x.find('zz')
print(pos)

-1

__replace()__ function - works like a search and replace operation in a word processor, replaces all occurences of the search string within the replacement string

In [110]:
x = 'Hello Bob'
y = x.replace('Bob', 'Sue')
print(y)

Hello Sue

In [111]:
x = 'Hello Bob'
y = x.replace('o', 'X')
print(y)

HellX BXb

__lstrip()__, __rstrip()__, __strip()__ removw whitespace - at tle left, right, or both sides of a string

In [113]:
x = '   Hello Bob'
x.strip()

'Hello Bob'

__startswith()__ - looks for a prefix

In [114]:
x ='Hello Bob'
x.startswith('Please')

False

In [116]:
x.startswith('H')

True

### Parsing amd extracting

In [122]:
x = 'from bobby@xyz.com Sat Jan 5 09:14:16 2024'
at = x.find('@')
print(at)

10

The second parameter in the following statement specifies where to startt the search.

In [123]:
sp = x.find(' ', at)
print(sp)

18

In [128]:
domain = x[at +1 : sp]
print(domain)

xyz.com